<p><b>ID:</b> <%= store.id%></p>
<p><b>Name:</b> <%= store.name%></p>
<p><b>Address:</b> <%= store.address%></p>
<p><b>Phone:</b> <%= store.phone || '-' %></p>
<p><b>Coordenates:</b> <%= store.coordenates || '-' %></p>
<p><b>Loc:</b> <%= store.loc%></p>
<p><b>Type:</b> <%= store.type%></p>
<p><b>State:</b> <%= store.state%></p>
<p><b>Brand:</b> <%= store.brand || '-' %></p>
